{% extends 'base.html' %}
{% block conteudo %}
<h1 class="tituloPagina textoCentralizado">Definição dos critérios</h1>
<div class="divFundoBotao">
       <!--<form action = "/your_url" onSubmit="calcular()" method="PUT">-->
        <!--<button  name = "hhhhh" type="submit">Teste</button>-->
       <!--</form>-->
        <table class="tabelaSemBorda">
                <th>
                <form action="/limpar">
                        <button class="botaoSelecionar" type="submit" title="Limpar os dados do fornecedor">Limpar</button>
                </form>
                </th>
                <th>  

                        <button class="botaoSelecionar" onclick="calcular()" type="submit" title="Enviar dados para controlador Fuzzy">Calcular</button>

                </th>
                <th>
                        <form  action="/importarDoExcel">
                         <button class="botaoSelecionar" id="1000114" type="submit" title="Importar dados do excel">Importar dados</button>
                        </form>
                </th>
                <th>
                        <form  action="/GetTreeViewModels">
                         <button class="botaoSelecionar" id="1000115" type="submit" title="GetToken">Testar forge</button>
                        </form>
                        <button class="botaoSelecionar" id="1000117" type="submit" onclick=getDataTreeViewModels() >Testar forge 2</button>
                </th>
                <th>                    
                        <select name="cenario" id="cenario100" class="selectOpcoes">
                                <option value="Material">Material</option>
                                <option value="Mdo">Mão de obra</option>
                                <option value="Material/Mdo">Material e mão de obra</option>
                                >
                        </select>
                </th>
        </table>

</div>

<div name="div3">
        <table class="tabelaAlterada">
       
           {% for crit in criterios %}
           <tr>    
                <th width="100px" class="tituloColuna" name={{crit[0]}}>{{crit[0]}}</th>
                <th width="80px" class="tituloColuna">Notas</th>                
                {% for subCrit in subcriterios %}
                        {% if subCrit[0]==crit[0] %}
                        <tr>
                                <td class="tituloSubcriterio" >{{subCrit[1]}}
                                </td>
                                <td>
                                        {% if subCrit[2]=='crisp'%}
                                             <input type="number" placeholder ="Digite a nota" id={{subCrit[4]}}></input>                                        
                                        {% else %}
                                        <select class="selectNotas" name="cars" id={{subCrit[4]}}>
                                                {% for opcao in subCrit[3] %}      
                                                        <option value={{opcao}}>{{opcao}}</option>
                                                {% endfor %}
                                        </select>
                                        {% endif %}

                                </td>
                        </tr>
                        {% endif %}

                {% endfor %}
 
                <tr>
                        <td class="tituloSubcriterio" >Resultado</td>
                        {% if modo=='Limpeza' %}
                        <td class="tituloSubcriterio">
                               <h style="text-align:center" id="crisp{{crit[2]}}"> Aguardando cálculo</h></br>
                               <img class='imagem300' id="imagem{{crit[2]}}" src="">
                        </td>
                        {% else %}        
                        <td class="tituloSubcriterio" >
                                <img class='imagem300' id="imagem{{crit[2]}}" src="{{url_for('static', filename = 'Grafico.jpg')}}">
                        </td>
                        {% endif %}
                        
                </tr>
           </tr>
           {% endfor %}   
        
        </table>

        <!--<button id="gdgdgdg" onclick="calcular()" name="bsdfbse" tag="sjdbnjseb">Teste</button>-->

</div>


{% endblock %}

{% block scripts%}

<script src="/static/scripts/funcoesForge.js"></script>


 
{% endblock %}